/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  color: #333;
  margin: 0;
}

h1, h2 {
  color: #444;
}

textarea, select, input, button {
  margin: 10px 0;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #007BFF;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.manual-announcement, .custom-schedule {
  margin-bottom: 30px;
}

/* Dark Mode */
body.dark-mode {
  background-color: #2d3748;
  color: #fff;
}

body.dark-mode button {
  background-color: #4A5568;
  color: #fff;
}
/* History Section Styling */
.history {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.history h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#announcementHistory {
  list-style-type: none;
  padding: 0;
}

#announcementHistory li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}

#announcementHistory li:last-child {
  border-bottom: none;
}
